// ===========================================================
// COLORS
// ===========================================================

// Font colors
$c_font_default: #616161;
$c_black: #000;
$c_white: #fff;

$c_red : #d31010;

// Element colors
$c_background: #f6f6f6;
$c_border: #e6e6e6;
$c_shadow_button: #9f0a0a;
$c_shadow_button_active:  #c2c2c2;
$c_range_slider: #d5d5d5;
$c_overlay: #313131;

// Errors
$c_border_error: darken(#ff0000, 10);
$c_font_error: darken(#ff0000, 10);


// ===========================================================
// FONTS
// ===========================================================

$f_regular: SourceSansPro-Regular;
$f_bold: SourceSansPro-Bold;

// ===========================================================
// DIMENSIONS
// ===========================================================

$d_large: 1200px;
$d_medium: 992px;
$d_small: 768px;
$d_extra_small: 480px;

// ===========================================================
// BREAKPOINTS
// ===========================================================

$breakpoints: (
		'large': $d_large,
		'medium': $d_medium,
		'small': $d_small,
		'extra-small': $d_extra_small
);

// ===========================================================
// TIME
// ===========================================================

$fast: 150ms;
$slow: 300ms;

// ===========================================================
// PATHS
// ===========================================================

$img-path: '../Images';